# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local
config.js

# typescript
*.tsbuildinfo
.qodo

# iOS (Xcode)
ios/Pods/
ios/DerivedData/
*.xcuserstate
*.xcworkspace
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcuserdatad/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

# Android
android/.gradle/
android/app/build/
android/.idea/
*.iml

# EAS build stuff
eas-build-pre-install.sh

